<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
    <h1>ATN TOY SHOP</h1>
    <a href="/login">Please Login</a>
  </body>
</html>
